@font-face {
  font-family: 'Montserrat-Light';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: bold;
  font-style: normal;
  src: url('../../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-weight: bold;
  font-style: normal;
  src: url('../../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: bold;
  font-style: normal;
  src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Black';
  font-weight: bold;
  font-style: normal;
  src: url('../../fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-weight: bold;
  font-style: normal;
  src: url('../../fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

.text-menu {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  @include maxWidth(1260px) {
    font-size: 18px;
  }

  @include maxWidth(1180px) {
    font-size: 16px;
  }
}

.text-type-primary {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #2c6bdc;

  @include maxWidth(992px) {
    font-size: 16px;
    line-height: 18px;
  }
}

.text-type-normal {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

  &--bold {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
  }

  &--black {
    font-family: 'Montserrat-Black';
    font-weight: 900;
  }
}

.text-type-small {
  font-style: normal;
  font-size: 9px;
  line-height: 11px;
}

.text-type-mini {
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
}

.text-type-big {
  font-style: normal;
  font-size: 21px;
  line-height: 26px;

  @include maxWidth(992px) {
    font-size: 18px;
  }
  @include maxWidth(768px) {
    font-size: 16px;
  }
}

.text-type-medium {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.text-type-semibold {
  font-style: normal;
  font-size: 24px;
  line-height: 29px;

  @include maxWidth(768px) {
    font-size: 18px;
    line-height: 24px;
  }

  @include maxWidth(768px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.text-type-title {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;

  @include maxWidth(992px) {
    font-size: 20px;
    line-height: 32px;
  }
}

.text-type-semiBig {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

.text-type-large {
  font-family: 'Montserrat-Bold';
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}

.text-border-right {
  border-right: 2px solid currentColor;
  padding-right: 8px;
}

.text-title {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;

  background: linear-gradient(180deg, #2d51ca 0%, #2c82ed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  border-left: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, #da0710 0%, #ca0009 100%);
  padding-right: 30px;
  margin-right: 20px;
  margin-bottom: 45px;
  padding-left: 8px;

  @include maxWidth(992px) {
    font-size: 28px;
    margin-bottom: 25px;
    margin-right: 0;
    font-size: 22px;
  }

  @include maxWidth(640px) {
    font-size: 24px;
    margin-bottom: 16px;
  }

  @include maxWidth(480px) {
    font-size: 22px;
  }
}

.text-family-light {
  font-family: 'Montserrat-Light';
  font-weight: 300;
}

.text-family-medium {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
}

.text-family-SemiBold {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
}

.text-family-bold {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
}

.text-family-black {
  font-family: 'Montserrat-Black';
  font-weight: 900;
}

.text-family-ExtraBold {
  font-family: 'Montserrat-ExtraBold';
  font-weight: 900;
}

.text-color-primary {
  background: linear-gradient(180deg, #2d51ca 0%, #2c82ed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
