.center-item {
  text-align: center;
  display: block;
  margin: auto;
}

.btn {
  padding: 0.75rem 4rem;

  @include maxWidth(992px) {
    padding: 0.75rem 3rem;
  }

  &-default {
    background-color: transparent;
    border: 1px solid $color-primary;
  }

  &-small {
    display: block;
    width: 100%;
    padding: 5px 0px;
    background-color: transparent;
    border: 1px solid $color-primary;
    border-radius: 8px;
  }

  &-primary-item {
    background: linear-gradient(180deg, #267ce8 0%, #4e9fff 100%);
    border: none;

    p,
    span {
      color: #fff;
    }
  }
}

////////////// UPLOAD FILE BUTTON //////////////////////////
.file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > input[type='file'] {
  display: none;
}

.file > label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 29%);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > label:hover {
  border-color: hsl(0, 0%, 21%);
}

.file > label:active {
  background-color: hsl(0, 0%, 96%);
}

.file > label > i {
  padding-right: 5px;
}

.file--upload > label {
  color: hsl(204, 86%, 53%);
  border-color: hsl(204, 86%, 53%);
}
