.header {
  &__info {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    gap: 100px;
    padding: 20px 0 15px;
  }

  &__body {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 4px #00000040;
  }

  .menu {
    @include flex(row, space-between, center);
    list-style: none;

    &__item {
      @include flex(row, space-between, center);
      align-items: center;

      &--border {
        &:not(:last-child) {
          border-right: 2px solid;
          border-image-slice: 1;
          border-image-source: linear-gradient(
            180deg,
            #267ce8 0%,
            #4e9fff 100%
          );
        }
      }

      &:not(:last-child) {
        padding-right: 30px;
        margin-right: 20px;
      }

      &--button {
        .menu__link {
          @include flex(row, space-between, center);
          background: linear-gradient(180deg, #267ce8 0%, #4e9fff 100%);
          border-radius: 8px;
          text-fill-color: #fff;
          -webkit-text-fill-color: #fff;
          color: #fff;
          text-align: center;
          padding: 20px 52px;
        }
      }
    }

    &__link {
      background: linear-gradient(180deg, #2d51ca 0%, #2c82ed 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      position: relative;
      color: #fff;
      transition: all 0.3s ease-in-out;
      background-size: 200% 200%;
      animation: rainbow 2s ease-in-out infinite;

      // &:hover {
      //   background: linear-gradient(to right, crimson, pink, springgreen);
      //   -webkit-background-clip: text;
      //   -webkit-text-fill-color: transparent;
      //   background-clip: text;
      //   text-fill-color: transparent;
      //   color: transparent;
      // }
    }
  }

  .logo {
    position: relative;
    padding-right: 10px;

    .icon {
      font-size: 60px;
    }

    .badge-item {
      position: absolute;
      top: 0;
      right: 0px;
    }

    .badge__number {
      font-size: 18px;
    }
  }

  @include maxWidth(1300px) {
    .header__info {
      gap: 20px;
    }
  }

  @include maxWidth(1180px) {
    .logo img {
      width: 80%;
    }

    .header__info {
      gap: 20px;
    }

    .logo .icon {
      font-size: 32px;
    }

    .menu__item--button .menu__link {
      padding: 10px 25px;
    }
  }

  @include maxWidth(992px) {
    .menu {
      flex-direction: column;
      background-color: $color-primary;
    }

    .menu__item:not(:last-child) {
      border-right: 0;
      border-bottom: 2px solid;
      margin: 0;
      padding: 0;
      width: 100%;
      padding: 15px 0;
    }

    .menu__item {
      display: flex;
      width: 100%;
      border-image-slice: 1;
      border-image-source: linear-gradient(180deg, #267ce8 0%, #4e9fff 100%);
      padding: 15px 0;
      .logo {
        margin-left: 30px;

        .icon {
          color: #fff;
        }
      }
    }

    .menu__link {
      padding-left: 30px;
      background: #fff;
      -webkit-text-fill-color: #fff;
      background-color: transparent;
    }

    .menu__item--button .menu__link {
      margin-left: 30px;
    }
  }
}
