.box-comment 
    .dymamic-content 
        .box-comment-item 
            .box-info
                .box-avatar 
                    figure.box-shadow-item
                        +link('#')
                            +img('../../images/gallery_4.jpeg', 'social')
                .box-profile
                    p.name.text-title Trần Phạm Minh Tiến
                    p.text-type-medium.time 11 tháng 5 lúc 21h43
            .box-content 
                p.text-type-medium.content 
                    | Combo bao gồm - Vé máy bay khứ hồi cùng 07kg hành lý xách tay - Đưa đón sân bay theo lịch trình bay của khách hàng (*) - 02 đêm nghỉ dưỡng tại Semi Detached Villa hướng vườn - Bữa sáng tiêu chuẩn hàng ngày tại nhà hàng Vị - Thưởng thức bữa trưa hoặc tối mỗi ngày theo Family Style Menu (**) - Trái cây tươi, bánh và các loạt hạt dinh dưỡng chào đón lúc nhận phòng - Dịch vụ turn down dọn dẹp chăm sóc mỗi tối - Tận hưởng sự thư giãn tại hồ bơi vô cực hướng vịnh Phương Mai - Check-in tuyệt vời giữa khu vườn nhiệt đới xanh ngắt, bãi biển hoang sơ êm đềm, và cánh đồng quạt gió ấn tượng của Quy Nhơn - Trải nghiệm và sử dụng các sản phẩm làm từ nguyên liệu tự nhiên và thân thiện với môi trường: áo choàng bằng vải lanh, bộ đồ đi biển bao gồm mũ rộng vành, túi đi biển được làm thủ công tại địa phương, bộ sản phẩm hữu cơ trong phòng tắm: dầu gội, sữa tắm, dưỡng thể...và đề cao giá trị văn hoá địa phương
                    +link
                        span.ml-2 Xem thêm
                          
        .box-comment-item 
            .box-info
                .box-avatar 
                    figure.box-shadow-item
                        +link('#')
                            +img('../../images/gallery_4.jpeg', 'social')
                .box-profile
                    p.name.text-title Trần Phạm Minh Tiến
                    p.text-type-medium.time 11 tháng 5 lúc 21h43
            .box-content 
                p.text-type-medium.content 
                    | Combo bao gồm - Vé máy bay khứ hồi cùng 07kg hành lý xách tay - Đưa đón sân bay theo lịch trình bay của khách hàng (*) - 02 đêm nghỉ dưỡng tại Semi Detached Villa hướng vườn - Bữa sáng tiêu chuẩn hàng ngày tại nhà hàng Vị - Thưởng thức bữa trưa hoặc tối mỗi ngày theo Family Style Menu (**) - Trái cây tươi, bánh và các loạt hạt dinh dưỡng chào đón lúc nhận phòng - Dịch vụ turn down dọn dẹp chăm sóc mỗi tối - Tận hưởng sự thư giãn tại hồ bơi vô cực hướng vịnh Phương Mai - Check-in tuyệt vời giữa khu vườn nhiệt đới xanh ngắt, bãi biển hoang sơ êm đềm, và cánh đồng quạt gió ấn tượng của Quy Nhơn - Trải nghiệm và sử dụng các sản phẩm làm từ nguyên liệu tự nhiên và thân thiện với môi trường: áo choàng bằng vải lanh, bộ đồ đi biển bao gồm mũ rộng vành, túi đi biển được làm thủ công tại địa phương, bộ sản phẩm hữu cơ trong phòng tắm: dầu gội, sữa tắm, dưỡng thể...và đề cao giá trị văn hoá địa phương
                    +link
                        span.ml-2 Xem thêm
        
        
        .group-button.justify-content-center
            button.btn.btn-default.item-transform-top(type='button')
                span.text-type-primary.text-family-medium Xem thêm đánh giá (1000)