nav(aria-label='breadcrumb')
    ol.breadcrumb
        li.breadcrumb-item.text-type-big
            a(href='#') Việt Nam
        li.breadcrumb-item.text-type-big
            a(href='#') Đà Nẵng
        li.breadcrumb-item.text-type-big.active(aria-current='page') Vé Cáp Treo Sun World Bà Nà Hills Đà Nẵng