.section-more-info 
    .container
        p.text-title Cẩm nang du lịch Cung cấp thông tin mới về du lịch
        p.text-type-big.text-desc 
            | LẠNG SƠNBản Lân Đặt dường như bị bỏ quên giữa dòng chảy đô thị hóa, con đường duy nhất đến đây băng qua núi rừng hiểm trở khoảng hai tiếng.
        br
        
        p.text-type-big.text-desc 
            | Dịp lễ nào cũng vậy, dường như chúng ta đã quá quen thuộc với từ "thất thủ", "đông nghịt", "chen chúc"... Cả năm chỉ có vài dịp gia đình du lịch cùng nhau, những tâm hồn ưa xê dịch như chúng tôi lên kế hoạch về một vùng đất mới, một nơi mà mọi thứ còn nguyên sơ, thuần khiết và đẹp ngỡ như trong cổ tích.