-
    var values = [
        {'link': '#', 'urlImg':"../../images/LESGO-03 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên ", 'localtion': 'TP. HỒ CHÍ MINH'},
        {'link': '#', 'urlImg':"../../images/LESGO-04 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'ĐÀ NẴNG'},
        {'link': '#', 'urlImg':"../../images/LESGO-05 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'HÀ NỘI'},
    ];
-
    var valuesSlider = [
        {'link': '#', 'urlImg':"../../images/LESGO-03 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên ", 'localtion': 'TP. HỒ CHÍ MINH'},
        {'link': '#', 'urlImg':"../../images/LESGO-04 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'ĐÀ NẴNG'},
        {'link': '#', 'urlImg':"../../images/LESGO-05 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'HÀ NỘI'},
        {'link': '#', 'urlImg':"../../images/LESGO-03 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên ", 'localtion': 'TP. HỒ CHÍ MINH'},
        {'link': '#', 'urlImg':"../../images/LESGO-04 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'ĐÀ NẴNG'},
        {'link': '#', 'urlImg':"../../images/LESGO-05 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'HÀ NỘI'},
        {'link': '#', 'urlImg':"../../images/LESGO-03 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên ", 'localtion': 'TP. HỒ CHÍ MINH'},
        {'link': '#', 'urlImg':"../../images/LESGO-04 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'ĐÀ NẴNG'},
        {'link': '#', 'urlImg':"../../images/LESGO-05 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'HÀ NỘI'},
        {'link': '#', 'urlImg':"../../images/LESGO-03 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên ", 'localtion': 'TP. HỒ CHÍ MINH'},
        {'link': '#', 'urlImg':"../../images/LESGO-04 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'ĐÀ NẴNG'},
        {'link': '#', 'urlImg':"../../images/LESGO-05 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'HÀ NỘI'},
        {'link': '#', 'urlImg':"../../images/LESGO-03 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên ", 'localtion': 'TP. HỒ CHÍ MINH'},
        {'link': '#', 'urlImg':"../../images/LESGO-04 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'ĐÀ NẴNG'},
        {'link': '#', 'urlImg':"../../images/LESGO-05 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'HÀ NỘI'},
        {'link': '#', 'urlImg':"../../images/LESGO-03 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên ", 'localtion': 'TP. HỒ CHÍ MINH'},
        {'link': '#', 'urlImg':"../../images/LESGO-04 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'ĐÀ NẴNG'},
        {'link': '#', 'urlImg':"../../images/LESGO-05 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'HÀ NỘI'},
        {'link': '#', 'urlImg':"../../images/LESGO-03 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên ", 'localtion': 'TP. HỒ CHÍ MINH'},
        {'link': '#', 'urlImg':"../../images/LESGO-04 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'ĐÀ NẴNG'},
        {'link': '#', 'urlImg':"../../images/LESGO-05 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'HÀ NỘI'},
        {'link': '#', 'urlImg':"../../images/LESGO-03 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên ", 'localtion': 'TP. HỒ CHÍ MINH'},
        {'link': '#', 'urlImg':"../../images/LESGO-04 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'ĐÀ NẴNG'},
        {'link': '#', 'urlImg':"../../images/LESGO-05 1.jpg", 'title':"42 tuor và 5 hướng dẫn viên", 'localtion': 'HÀ NỘI'},
    ];
    

.container
    if titleFearure
        p.text-title #{titleFearure}
    else

    .swiper-container(class=swiperStyle2  && "swiperStyle2")
        .swiper-wrapper
            each val in valuesSlider
                .swiper-slide.box-shadow-item.swiper-boder-radius.item-transform-top
                    +gallerxyFeatureType4(val.link, val.urlImg, val.title)

        // Add Pagination
        .swiper-pagination.
    .center-item.mt-2
        button.btn.btn-default.item-transform-top(type='button') 
            p.text-type-primary.text-family-medium XEM TẤT CẢ